@model  GameShowMV
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.GameList.Any())
{
    <div class="alert alert-warning mt-4">

        <h4 class="alert-heading">No Games!</h4>
        <p class="mb-0"> No Gat Added Yet. </p>
    </div>
}
else
{
    <div class="row mt-5">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Shearc hBar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catgories</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Diveces</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                       
                    </ul>
                    <form class="d-flex" asp-asp-controller="Games" asp-action="shearsh_name">
                        <input class="form-control me-sm-2" id="name" name="name" type="search" placeholder="Search By Name">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row mt-5">
        @foreach (var game in Model.GameList)
        {
            <div class="col-lg-4 col-md-6">
                <a class="card border-success mb-3 text-decoration-none" asp-controller="Games" asp-action="Détails" asp-route-id="@game.Id">
                  
                  <div  class="card-body" style="background-image:url(@($"{SettingFile.pathImage}/{game.icon}"));background-size:cover;background-position:center;height:500px;">
                        <div class="h-100 d-flex align-items-end">
                            <span class="badge bg-secondary fs-5">@game.Category.Name</span>
                        </div>

                  </div>
                  <div  class="card-footer text-muted d-flex justify-content-between align-items-center">
                      <h5>@game.Name</h5>
                      <div> 
                            @foreach (var device in game.Device)
                            {
                                <i class="@device.Device.Icon me-2"></i>
                                
                            }
                        </div>
                  </div>
                </a>

            </div>
            
        }
    </div>
    <div class="d-flex justify-content-center mt-5">

        <ul class="pagination">

            @for (int i = 1; i <= Model.TotalePageNumber;i++)
            {
                if(i == Model.CurrentPageNumber)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-controller="Games" asp-action="GamesPage" asp-route-id="@i">@i</a>
                    </li>
                }
                else
                {
                     <li class="page-item">
                    <a class="page-link" asp-controller="Games" asp-action="GamesPage" asp-route-id="@i">@i</a>
                </li> 
                    
                }
               
                
            }
           
            

               
               
                    
                
               
               
               

            
         
           
         
        </ul>


    </div>
   }



